<script src="https://giscus.app/client.js"
        data-repo="movingwoo/movingwoo.github.io"
        data-repo-id="R_kgDOORY1lQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOORY1lc4CpoFq"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="https://movingwoo.github.io/assets/css/giscus-theme.css"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>