{% if page.previous or page.next %}
<nav class="post-navigation">
  <div id="postNavigation" class="post-navigation__container"></div>

  <script>
    // 별도 js로 post data 넘겨주기만
    window.postData = {
      currentPost: {
        title: "{{ page.title | escape }}",
        url: "{{ page.url | escape }}",
        date: "{{ page.date | date: '%Y-%m-%d' }}",
        categories: {{ page.categories | jsonify }}
      },
      allPosts: [
        {% for post in site.posts %}
        {
          title: "{{ post.title | escape }}",
          url: "{{ post.url | relative_url | escape }}",
          date: "{{ post.date | date: '%Y-%m-%d' }}",
          categories: {{ post.categories | jsonify }}
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    };
  </script>
  <script src="/assets/js/post_pagination.js"></script>
</nav>
{% endif %}