
:root {
    --giscus-background-color: #333333;
    --giscus-font-color: #E0E0E0;
    --giscus-link-color: #E0A0A0;
    --giscus-link-hover-color: #FFB6B6;
    --giscus-border-color: #CD5C5C;
  
    --giscus-header-bg: #2a2a2a;
    --giscus-header-font-color: #E0E0E0;
  
    --giscus-comment-bg: #2a2a2a;
    --giscus-comment-font-color: #E0E0E0;
    --giscus-comment-border-color: #CD5C5C;
  
    --giscus-reply-bg: #222222;
    --giscus-reply-font-color: #E0E0E0;
  
    --giscus-button-bg: #CD5C5C;
    --giscus-button-font-color: #ffffff;
    --giscus-button-hover-bg: #FFB6B6;
    --giscus-button-hover-font-color: #ffffff;
}
  