---
layout: default
---

<div class="home-layout">
  <div class="home-sidebar">
    {% include toc-hierarchy.html %}
  </div>

  <div class="home-content">
    <div class="recent-posts-header">
      <div class="header-images">
        <img src="/assets/images/common/main1.webp" alt="나도 사람인데 뭐라도 하겠지" class="recent-posts-image">
        <img src="/assets/images/common/main2.webp" alt="뭐라도 하지 않을까" class="recent-posts-image">
      </div>
      <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "최근 포스트" }}</h3>
    </div>

    {% assign all_posts = site.posts | sort: 'date' | reverse %}
    {% assign recent_posts = all_posts | slice: 0, 5 %}
    {% assign entries_layout = page.entries_layout | default: 'list' %}
    <div class="entries-{{ entries_layout }}">
      {% for post in recent_posts %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>

    {{ content }}

  </div>
</div>

<style>
.home-layout {
  display: flex;
  max-width: 1500px; /* 더 넓은 최대 너비 */
  margin: 0 auto;
  padding: 0 0.5rem; /* 좌우 여백 줄임 */
}

.home-sidebar {
  flex-shrink: 0;
  width: 300px;
  margin-right: 1rem;
  position: relative;
  display: block !important;
}

.home-content {
  flex-grow: 1;
  min-width: 0;
  width: 100%; /* 너비를 100%로 설정하여 남은 공간을 모두 차지하도록 함 */
}

@media (max-width: 64em) {
  .home-layout {
    flex-direction: column;
  }
  
  .home-sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.recent-posts-header {
  margin-bottom: 2em;
  text-align: left;
}

.header-images {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.recent-posts-image {
  width: 500px;
  border-radius: 8px;
}
</style>
